.cell {
    width: 70px;
    height: 70px;
    display: table-cell;
}
.black {
    background-color: black;
}
section {
    width: 600px;
    margin: 0 auto;
    border: 4px solid black;
}
.letters {
    margin: 0 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
}
.numbers {
    width: 20px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}
.top {
    border-bottom: 1px solid black;
}
.bottom {
    border-top: 1px solid black;
}
.left {
    border-right: 1px solid black;
}
.right {
    border-left: 1px solid black;
}