<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <title>Layout</title>
</head>

<body>
    <header class="ubuntu">
        <div class="top, top-first">
            <img src="images/logo.jpg" alt="logo">
            <span>400 STORES <br> NATIONWIDE!</span>
        </div>
        <div class="top, top-second">
            <span class="bold">Looking for More Sleep Number Info?</span> <br> Sign up to receive our
            DVD, email news and <br> deals. New Customer? Get <span class="red">$50 in savings.</span> <br>
            <input type="image" src="images/right-btn.jpg">
            <a href="#">SIGN-UP NOW!</a>
        </div>
        <div class="top, top-third">
            SHOP ONLINE | <i class='fas'>&#xf218;</i>
            <a href="#" class="verdana">Cart (0)</a> <br> <span class="verdana">1-888-411-2188</span>
            <form>
                FIND OUR STORES
                <input type="search" placeholder="Enter Zip">
                <input type="image" src="images/right-btn.jpg">
            </form>
        </div>
        <div class="top, top-fourth">
            <img src="images/top-img.jpg" alt="">
        </div>
    </header>
    <main>
        <nav>
            <form>
                Search Site
                <input type="search">
                <input type="image" src="images/right-btn.jpg">
            </form>
            <div>
                <a href="#">Bed Owners</a> | <a href="#">Check Order Status</a> | <a href="#">Customer Servise</a>
            </div>
        </nav>
        <aside>
            <div>
                BUY
                <select name="Sleep Number Beds" id="SNB">
                    <option selected>Sleep Number Beds</option>
                    <option value="Classic">Classic Series</option>
                    <option value="Performance">Performance Series</option>
                    <option value="Innovation">Innovation Series</option>
                </select>
                <select name="Speciality Bed" id="SB">
                    <option selected>Speciality Bed</option>
                </select>
                <select name="Pillows & Bedding" id="P&B">
                    <option selected>Pillows & Bedding</option>
                </select>
                <select name="Outlet" id="Otl">
                    <option selected>Outlet</option>
                </select>
                <select name="Bed Specials" id="BS">
                    <option selected>Bed Specials</option>
                </select>
            </div>
        </aside>
    </main>
</body>

</html>