<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <title>Layout</title>
</head>

<body>

    <header class="ubuntu">
        <div class="top, top-first">
            <img src="images/logo.jpg" alt="logo">
            <span>400 STORES <br> NATIONWIDE!</span>
        </div>
        <div class="top, top-second">
            <span class="bold">Looking for More Sleep Number Info?</span> <br> Sign up to receive our
            DVD, email news and <br> deals. New Customer? Get <span class="red">$50 in savings.</span> <br>
            <p>
                <input type="image" src="images/right-bttn.png">
                <a href="#">SIGN-UP NOW!</a>
            </p>

        </div>
        <div class="top, top-third">
            <p>
                <img src="images/1.png"> SHOP ONLINE |
                <i class='fas'>&#xf218;</i>
                <a href="#" class="verdana a-blue">Cart (0)</a>
            </p>
            <p class="verdana tel">
                1-888-411-2188
            </p>
            <p>
            <form>
                <img src="images/3.png">
                FIND OUR STORES
                <input type="search" placeholder="Enter Zip" id="zip">
                <input type="image" src="images/right-bttn.png">
            </form>
            </p>
        </div>
        <div class="top, top-fourth">
            <img src="images/top-img.jpg" alt="">
        </div>
    </header>

    <main>
        <nav>
            <form>
                Search Site
                <input type="search">
                <input type="image" src="images/right-bttn.png">
            </form>
            <div>
                <a href="#">Bed Owners</a> | <a href="#">Check Order Status</a> | <a href="#">Customer Servise</a>
            </div>
        </nav>
        <div class="main">
            <aside>
                <div class="aside-header ubuntu">
                    BUY
                </div>
                <div class="dropdown">
                    <button class="dropbtn verdana"><i class='fas'>&#xf35a;</i>Sleep Number Beds</button>
                    <div class="dropdown-content">
                        <a href="#">Classic Series</a>
                        <a href="#">Performance Series</a>
                        <a href="#">Innovation Series</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>Specialty Beds</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>Pillows & Bedding</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>Outlet</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn verdana dr-end"> <i class='fas'>&#xf35a;</i>Bed Specials</button>
                </div>
                <div class="aside-header ubuntu">LEARN</div>
                <div class="dropdown">
                    <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>What is A Sleep Number?</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>Sleep Number Research</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>Sleep Number Rewiews</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>Compare Our Beds</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn verdana dr-end"> <i class='fas'>&#xf35a;</i>Compare Our Bases</button>
                </div>
                <div class="aside-header ubuntu">TRY</div>
                <div class="dropdown">
                    <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>Find My Sleep Number</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>How Sleep Number Works</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn verdana dr-end"> <i class='fas'>&#xf35a;</i>Visit A Sleep Number
                        Store</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn verdana end">
                        <i class='fas'>&#xf35a;</i>Connect with Us
                        <input type="image" src="images/fb.png">
                        <input type="image" src="images/tw.png">
                    </button>
                </div>
            </aside>

            <section>
                <div class="printer">
                    <a href="#" class="a-blue"> <img src="images/printer.png">Printer Friendly</a>
                </div>

                <h1 id="h1" class="ubuntu">i10 Sleep Number bed</h1>

                <div class="about">
                    <div>
                        <img src="images/main-img.jpg">
                    </div>
                    <div class="rating">
                        <div class="rating-first">
                            <span>RATING:</span>
                            <img src="images/stars-img.jpg">
                            <span>4.7 out of 5</span>
                        </div>
                        <div class="rating-second">
                            <a href="#" class="a-blue">Read all 32 reviews</a> |
                            <a href="#" class="a-blue">Write a review</a>
                        </div>
                        <div class="rating-third">
                            <p class="options">
                                SIZE:
                                <a href="#" class="a-blue">View Size Chart</a>
                                <br />
                                <select id="queen" class="verdana">
                                    <option value="Queen">Queen</option>
                                    <option value="King">King</option>
                                    <option value="Single">Single</option>
                                </select>
                            </p>
                            <p class="options">
                                BASE:
                                <a href="#" class="a-blue">(Recommended)</a> <br>
                                <select class="verdana">
                                    <option value="">Select a base</option>
                                </select>
                            </p>
                        </div>
                        <div class="rating-fourth">
                            <p class="options">
                                <a href="#" class="a-blue">MATTRESS PROTECTION</a> <br>
                                <select class="verdana">
                                    <option value="">Select a protection</option>
                                </select>
                            </p>
                            <p>
                                <input type="submit" value="ADD BED TO CART" id="add-bed-btn">
                            </p>
                        </div>
                        <div class="rating-fifth">
                            <input type="image" src="images/share-btn.png">
                            <a href="#">| EMAIL A FRIEND</a>
                        </div>
                    </div>
                </div>

                <div class="review">
                    <div id="rev11">
                        <p class="rev1">
                            <a href="#" class="a-blue">Printable Reviews</a>
                        </p>
                        <p class="rev2">
                            <span class="a-blue">Review This Product</span>
                            <select class="verdana">
                                <option>
                                    Choose a sort order
                                </option>
                            </select>
                        </p>
                    </div>
                    <div class="rev3">
                        <div id="review31">
                            <span>
                                Overall:
                                <img src="images/stars-img.jpg" class="rev31">
                            </span>
                            <br>
                            <span>
                                Comfort:
                                <img src="images/rating.png" class="rev32">
                            </span>
                            <br>
                            <span>
                                Quality:
                                <img src="images/rating.png" class="rev33">
                            </span>
                            <br>
                            <span>
                                Value:
                                <img src="images/rating1.png" class="rev34">
                            </span>
                            <hr>
                            <span>
                                <b>High Desert Sleeper</b> <br>
                                Location: <b>Santa Fe, NM</b>
                            </span>
                        </div>
                        <div id="review32">
                            <img src="images/feacher.jpg">
                            <span class="bold">Date: November 9,2007</span>
                            <p>
                                "I used to always watch TV in my bedroom until I got this bed. Now, as soon as I get
                                into this remarkable bed, I can't keep my eyes open but for about 10 minutes. I have to
                                set the sleep timer on the TV or it stays on all night...it's happend many times. So, if
                                you buy this bed (and you won't regret even its expensiveness) be prepared for a GREAT
                                night's sleep! I can't say enough good about this bed, but be sure you get their BEST!
                                Trust me, you may want to buy the less expensive models, but don't do it. Trust your
                                instincts and go FIRST CLASS!"
                            </p>
                            <p>
                                <span class="bold">247</span> of <span class="bold">277</span> people found this review
                                helpful.
                            </p>
                            <p>
                                <i>Was this review helpful to you? <a href="#" class="a-blue">Yes</a> <a href="#"
                                        class="a-blue">No</a> <span class="a-blue"> (Report Inappropriate Review)
                                    </span> <br>
                                    Vote recorded. Vote may take up to 12 hours to display.</i>
                            </p>
                        </div>
                    </div>
                    <div class="next-page">
                        1-4 of 32
                        <a href="#" class="a-blue">Next Page</a>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <div class="footer-line">
            <span>
                Reseive the latest news on our products, research and promotions:
            </span>
            <input type="email" placeholder="Enter email address" class="verdana">
            <span class="country verdana">
                Country:
            </span>
            <select class="verdana">
                <option value="USA">USA</option>
                <option value="UA">Ukraine</option>
                <option value="CA">Canada</option>
            </select>
            <input type="image" src="images/right-bttn.png">
        </div>
        <div class="footer-a">
            <a href="#">Home</a> |
            <a href="#">About Us</a> |
            <a href="#">Careers</a> |
            <a href="#">Contact Us</a> |
            <a href="#">Specials</a> |
            <a href="#">Shipping Options</a> |
            <a href="#">Folleto En Espanol</a> |
            <a href="#">Privacy & Security</a> |
            <a href="#">Site Map</a> |
            <a href="#">Company Blog</a>
        </div>
        <p>
            &copy; 2000-2010 Select Comfort SLEEP NUMBER, SELECT COMFORT and the Double Arrow Design are
            registered
            trademarks and THE SLEEP NUMBER BED BY SELECT COMFORT is a trademark of Select Comfort
            Corporation.
            <a href="#">More legal.</a>
        </p>
    </footer>
</body>

</html>