<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <title>Layout</title>
</head>

<body>
    <header class="ubuntu">
        <div class="top, top-first">
            <img src="images/logo.jpg" alt="logo">
            <span>400 STORES <br> NATIONWIDE!</span>
        </div>
        <div class="top, top-second">
            <span class="bold">Looking for More Sleep Number Info?</span> <br> Sign up to receive our
            DVD, email news and <br> deals. New Customer? Get <span class="red">$50 in savings.</span> <br>
            <input type="image" src="images/right-bttn.png">
            <a href="#">SIGN-UP NOW!</a>
        </div>
        <div class="top, top-third">
            SHOP ONLINE | <i class='fas'>&#xf218;</i>
            <a href="#" class="verdana">Cart (0)</a> <br> <span class="verdana">1-888-411-2188</span>
            <form>
                FIND OUR STORES
                <input type="search" placeholder="Enter Zip">
                <input type="image" src="images/right-bttn.png">
            </form>
        </div>
        <div class="top, top-fourth">
            <img src="images/top-img.jpg" alt="">
        </div>
    </header>
    <main>
        <nav>
            <form>
                Search Site
                <input type="search">
                <input type="image" src="images/right-bttn.png">
            </form>
            <div>
                <a href="#">Bed Owners</a> | <a href="#">Check Order Status</a> | <a href="#">Customer Servise</a>
            </div>
        </nav>
        <aside>
            <div class="aside-header ubuntu">BUY</div>
            <div class="dropdown">
                <button class="dropbtn verdana"><i class='fas'>&#xf35a;</i>Sleep Number Beds</button>
                <div class="dropdown-content">
                    <a href="#">Classic Series</a>
                    <a href="#">Performance Series</a>
                    <a href="#">Innovation Series</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>Specialty Beds</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>Pillows & Bedding</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>Outlet</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn verdana dr-end"> <i class='fas'>&#xf35a;</i>Bed Specials</button>
            </div>
            <div class="aside-header">LEARN</div>
            <div class="dropdown">
                <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>What is A Sleep Number?</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>Sleep Number Research</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>Sleep Number Rewiews</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>Compare Our Beds</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn verdana dr-end"> <i class='fas'>&#xf35a;</i>Compare Our Bases</button>
            </div>
            <div class="aside-header">TRY</div>
            <div class="dropdown">
                <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>Find My Sleep Number</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn verdana"> <i class='fas'>&#xf35a;</i>How Sleep Number Works</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn verdana dr-end"> <i class='fas'>&#xf35a;</i>Visit A Sleep Number Store</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn verdana end">
                <i class='fas'>&#xf35a;</i>Connect with Us
                <input type="image" src="images/fb.png">
                <input type="image" src="images/tw.png">
            </button>
            </div>
        </aside>
    </main>
    <footer>
        <div class="footer-line">
            <span>
                Reseive the latest news on our products, research and promotions:
            </span>
            <input type="email" placeholder="Enter email address">
            <span class="country">
                Country:
            </span>
            <select name="Country">
                <option value="USA">USA</option>
                <option value="UA">Ukraine</option>
                <option value="CA">Canada</option>
            </select>
            <input type="image" src="images/right-bttn.png">
        </div>
        <div class="footer-a">
            <a href="#">Home</a> |
            <a href="#">About Us</a> |
            <a href="#">Careers</a> |
            <a href="#">Contact Us</a> |
            <a href="#">Specials</a> |
            <a href="#">Shipping Options</a> |
            <a href="#">Folleto En Espanol</a> |
            <a href="#">Privacy & Security</a> |
            <a href="#">Site Map</a> |
            <a href="#">Company Blog</a>
        </div>
        <p>
            &copy; 2000-2010 Select Comfort SLEEP NUMBER, SELECT COMFORT and the Double Arrow Design are registered
            trademarks and THE SLEEP NUMBER BED BY SELECT COMFORT is a trademark of Select Comfort Corporation.
            <a href="#">More legal.</a>
        </p>
        
    </footer>
</body>

</html>